@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: var(--sidebar-accent);
    border-radius: 8px;
  }

  .sidebar-custom-without-radius::-webkit-scrollbar-track {
    border-radius: 0px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: var(--sidebar-primary);
    border-radius: 4px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: var(--color-sidebar-primary-foreground);
  }
}